  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #5b5139;
    color: white;
    font-size: 16px !important;
    font-weight: 100 !important;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  input[type=range] {
    width: 100%;
  }

  @media screen and (max-width: 810px) {
    .categorydropbtn {
      padding-bottom: 16px;
    }
  }